img{
    width: 30%;
    margin: calc(10%/6);
}
nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%; 
    font-size: 100%;
    font-family: Raleway, sans-serif;
    padding: 1.2em 0;
    margin-left: calc(10%/6);
}
nav img{
    width: 5%;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}